<html lang="en">
<head>
    <title>Kishan Nanavath Resume</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <style>
        *::selection {
            background-color: #080808;
            color: #f7f7f7;
        }

        * {
            margin: 0px;
            padding: 0px;
        }

        #innerBody {
            background-color: #080808;
            background-image: linear-gradient(135deg, rgba(11, 7, 163, 0.25), rgba(200, 0, 45, 0.25));
        }

        md-card {
            color: #ffffff;
            background-color: rgba(255, 255, 255, .15);
            border: rgba(72, 60, 128, .4) solid 2px;
        }

        md-card > img {
            padding: 0px;
            border: none;
        }

        md-icon {
            color: #ffffff;
        }

        md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
            color: #aaaaaa !important;
            opacity: 0.5 !important;
        }

        md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
            color: #ffffff !important;
            font-size: large;
            opacity: 1 !important;
        }

        md-tabs md-ink-bar {
            color: #ffffff;
            background-color: #4c7480;
        }

    </style>
</head>
<body ng-app="myApp" ng-cloak>

<div id="innerBody" ng-controller="MainCtrl">

    <div ng-cloak layout="column" flex layout-padding>

        <div ng-include="'./SRC/HTML/profilePage.html'"></div>

        <!--<md-card layout="column">-->
            <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                    <!--<span class="md-headline">PROFILE</span>-->
                <!--</md-card-title-text>-->
            <!--</md-card-title>-->
            <!--<md-card-content layout="row" layout-xs="column" layout-padding>-->
                <!--<md-card layout="column">-->
                    <!--<img onclick="showAlert(this.src)"-->
                         <!--src="./assets/dotsgif.gif"/>-->
                <!--</md-card>-->
                <!--<div layout="column" flex>-->
                    <!--<span class="md-headline">Bal Kishan Nanavath</span>-->
                    <!--<span>Software Developer</span>-->
                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->

        <md-card layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Residentional Address</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-list layout="row" layout-xs="column" layout-sm="column">
                    <md-list-item ng-repeat="add in address" flex-lg="50" flex-md="50">
                        <md-list flex>
                            <p>{{add.type}}</p>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>{{add.H_no}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>{{add.city}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>{{add.state}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>{{add.pin_code}}</p>
                            </md-list-item>
                        </md-list>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Qualifications</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-swipe-content="true">
                    <div ng-repeat="qual in quals" layout="column" layout-align="center stretch">
                        <md-tab>
                            <md-tab-label><span><md-icon>school</md-icon>{{qual}}</span></md-tab-label>
                            <md-tab-body>
                                <md-list>
                                    <md-list-item ng-click="null">
                                        <md-icon>school</md-icon>
                                        <p>{{qual}}</p>
                                    </md-list-item>
                                </md-list>
                            </md-tab-body>

                        </md-tab>
                    </div>
                </md-tabs>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-swipe-content="true">
                    <md-tab>
                        <md-tab-label>
                            <md-icon>code</md-icon>
                            Programming languages
                        </md-tab-label>
                        <md-tab-body>
                            <md-list layout="row" layout-wrap layout-padding>
                                <md-list-item ng-repeat="lang in languages" ng-click="null" flex-lg="25" flex>
                                    <md-icon>done</md-icon>
                                    <p>{{lang}}</p>
                                    <md-tooltip md-direction="top">
                                        {{lang}}
                                    </md-tooltip>
                                </md-list-item>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab label="INTERESTS">
                        <md-list layout="row" layout-wrap layout-padding>
                            <md-list-item ng-repeat="skill in skills | orderBy" ng-click="null" flex-lg="50" flex>
                                <md-icon>done</md-icon>
                                <p>{{skill}}</p>
                            </md-list-item>
                        </md-list>
                    </md-tab>
                    <md-tab>
                        <md-tab-label><span><md-icon>computer</md-icon>Operating Systems</span></md-tab-label>
                        <md-tab-body>
                            <md-list layout="row" layout-wrap layout-padding>
                                <md-list-item ng-repeat="os in oss | orderBy" ng-click="null" flex-lg="50" flex>
                                    <md-icon>done</md-icon>
                                    <p>{{os}}</p>
                                </md-list-item>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><md-icon>assignment_turned_in</md-icon> Projects</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" md-swipe-content="true">
                    <div ng-repeat="project in projects">
                        <md-tab label="{{project.title}}">
                            <md-card layout="column" layout-align="start start" layout-padding>
                                <md-list-item>
                                    <md-icon>
                                        <md-tooltip md-direction="top">
                                            Project Title
                                        </md-tooltip>
                                        title
                                    </md-icon>
                                    {{project.title}}
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>

                                        <md-tooltip md-direction="top">
                                            Description
                                        </md-tooltip>
                                        description
                                    </md-icon>
                                    {{project.Description}}
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>

                                        <md-tooltip md-direction="top">
                                            Roles Played
                                        </md-tooltip>
                                        work
                                    </md-icon>
                                    {{project.RolesPlayed.join(', ')}}
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>
                                        <md-tooltip md-direction="top">
                                            Duration
                                        </md-tooltip>
                                        date_range
                                    </md-icon>
                                    {{project.Duration.toDateString()}}
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>
                                        <md-tooltip md-direction="top">
                                            Team Members
                                        </md-tooltip>
                                        people
                                    </md-icon>
                                    {{project.TeamSize}}
                                </md-list-item>
                                <md-list-item>
                                    <md-icon>
                                        <md-tooltip md-direction="top">
                                            Skills
                                        </md-tooltip>
                                        build
                                    </md-icon>
                                    {{project.Skills.join(', ')}}
                                </md-list-item>
                            </md-card>
                        </md-tab>
                    </div>
                </md-tabs>
            </md-card-content>
        </md-card>

        <md-card layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><md-icon>person</md-icon> Personal Details</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-list>
                    <md-list-item ng-click="null">
                        <md-icon>navigate_next</md-icon>
                        <p>Date of Birth : {{per_details.dob}}</p>
                    </md-list-item>
                    <md-list-item ng-click="null">
                        <md-icon>navigate_next</md-icon>
                        <p>Gender : {{per_details.Gender}}</p>
                    </md-list-item>
                    <md-list-item ng-click="null">
                        <md-icon>navigate_next</md-icon>
                        <p>Status : {{per_details.Status}}</p>
                    </md-list-item>
                    <md-list-item ng-click="null">
                        <md-icon>navigate_next</md-icon>
                        <p>Nationality : {{per_details.Nationality}}</p>
                    </md-list-item>
                    <md-list-item ng-click="null">
                        <md-icon>navigate_next</md-icon>
                        <p>Languages Known : {{per_details.languages.join(", ")}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><md-icon>build</md-icon> Tools</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding>
                <md-list layout-lg="row" layout="column" layout-wrap layout-padding>
                    <md-list-item ng-repeat="tool in tools" ng-click="null" flex-lg="25" flex>
                        <md-icon>done</md-icon>
                        <p>{{tool}}</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>
</body>
</html>
