<html lang="en" >
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.js"></script>
        <script type="text/javascript" src="./app.js"></script>
        <style>
            *::selection{
                background-color: #080808;
                color: #f7f7f7;
            }
            *{
                margin: 0px;
                padding: 0px;
            }
            #innerBody{
                background-color: #080808;
                background-image: linear-gradient(135deg, rgba(11, 7, 163, 0.25), rgba(200, 0, 45, 0.25));
            }
            md-card{
                color: #ffffff;
                background-color: rgba(255,255,255,.15);
                border: rgba(72,60,128,.4) solid 2px;
            }
            md-card>img{
                padding: 0px;
                border: none;
            }
            md-icon{
                color: #ffffff;
            }
        </style>
    </head>
    <body ng-app="myApp" ng-cloak>
        <div id="innerBody" ng-controller="MainCtrl">
            <div ng-cloak layout="column" flex layout-padding>
                <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">PROFILE</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-xs="column" layout-padding>
                        <md-card layout="column" flex-lg="30" flex-md="30" flex-sm="30">
                            <img onclick="showAlert(this.src)" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Appearance_of_sky_for_weather_forecast,_Dhaka,_Bangladesh.JPG"/>
                        </md-card>
                        <div layout="column" flex>
                            <span ng-hide="true" class="md-headline">Bal Kishan Nanavath</span>
                            <span ng-hide="true">Software Developer</span>
                            <span>XXXXXXXXXXXXXXXXXXXX</span>
                        </div>
                    </md-card-content>
                </md-card>

                <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Residentional Address</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout-padding>
                        <md-list layout="row" layout-xs="column" layout-sm="column">
                            <md-list-item ng-repeat="add in address" ng-click="null" flex-lg="50" flex-md="50">
                                <md-list>
                                    <p >{{add.type}}</p>
                                    <md-list-item>
                                        <md-icon>navigate_next</md-icon>
                                        <p>{{add.H_no}}</p>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-icon>navigate_next</md-icon>
                                        <p>{{add.city}}</p>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-icon>navigate_next</md-icon>
                                        <p>{{add.state}}</p>
                                    </md-list-item>
                                    <md-list-item>
                                        <md-icon>navigate_next</md-icon>
                                        <p>{{add.pin_code}}</p>
                                    </md-list-item>
                                </md-list>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Qualifications</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout-padding>
                        <md-list>
                            <md-list-item ng-repeat="qual in quals" ng-click="null" layout="column" layout-align="center stretch">
                                <md-icon>school</md-icon>
                                <p>{{qual}}</p>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card layout="column">
                    <md-card-content layout-padding>
                        <md-list>
                            <md-list-item layout="row" layout-align="space-around stretch">
                                    <md-card flex-lg layout="column" flex>
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Programming Languages</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content layout-padding>
                                            <md-list>
                                                <md-list-item ng-repeat="lang in languages | orderBy" ng-click="null">
                                                    <md-icon>done</md-icon>
                                                    <p>{{lang}}</p>
                                                </md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                    <md-card flex-lg layout="column">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Operating Systems</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content layout-padding>
                                            <md-list>
                                                <md-list-item ng-repeat="os in oss | orderBy" ng-click="null">
                                                    <md-icon>done</md-icon>
                                                    <p>{{os}}</p>
                                                </md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                                    <md-card flex-lg layout="column">
                                        <md-card-title>
                                            <md-card-title-text>
                                                <span class="md-headline">Skills</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content layout-padding>
                                            <md-list>
                                                <md-list-item ng-repeat="skill in skills | orderBy" ng-click="null">
                                                    <md-icon>done</md-icon>
                                                    <p>{{skill}}</p>
                                                </md-list-item>
                                            </md-list>
                                        </md-card-content>
                                    </md-card>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><md-icon>assignment_turned_in</md-icon> Projects</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list layout="row">
                            <md-list-item ng-repeat="project in projects" layout="column" flex="50">
                                <md-list>
                                    <md-card layout="column" layout-align="start start" layout-padding>
                                        <md-list-item ><md-icon>title</md-icon>{{project.title}}</md-list-item>
                                        <!--<md-list-item><p>{{project.title}}</p></md-list-item>-->
                                        <md-list-item layout="row" layout-align="start start"><md-icon>description</md-icon>{{project.Description}}</md-list-item>
                                        <md-list-item><md-icon>work</md-icon>{{project.RolesPlayed.join(', ')}}</md-list-item>
                                        <md-list-item><md-icon>date_range</md-icon>{{project.Duration.toDateString()}}</md-list-item>
                                        <md-list-item><md-icon>people</md-icon>{{project.TeamSize}}</md-list-item>
                                        <md-list-item><md-icon>build</md-icon>{{project.Skills.join(', ')}}</md-list-item>
                                    </md-card>
                                </md-list>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

                <md-card layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Personal Details</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout-padding>
                        <md-list>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>Date of Birth : {{per_details.dob}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>Gender : {{per_details.Gender}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>Status : {{per_details.Status}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>Nationality : {{per_details.Nationality}}</p>
                            </md-list-item>
                            <md-list-item ng-click="null">
                                <md-icon>navigate_next</md-icon>
                                <p>Languages Known : {{per_details.languages.join(", ")}}</p>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>

            </div>
        </div>
    </body>
</html>
